@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #0f172a;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 100px;
}
